* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: whitesmoke;
    font-family: "Poppins", sans-serif;
}

.card-wrapper {
    display: flex;

    /* 주축(Main Axis) 방향으로 가운데 정렬.*/
    justify-content: center;
    /* 교차축(Cross Axis) 방향으로 가운데 정렬.*/
    align-items: center;
    min-height: 100vh;
}

.food-card {
    height: 230px;
    width: 240px;
    border-radius: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    position: relative;
    outline: 2px solid rgba(48, 48, 48, 0.37);
    box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.2);
    user-select: none;
}

.food-card:hover {
    box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.5);
}

.tag {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 1rem;
    font-style: italic;
    padding: 1px 8px;
    font-weight: 600;
    border-radius: 15px;
    border: 1px solid rgba(248, 3, 3, 0.8);
    width: auto;
    color: rgb(248, 3, 3);
}

.food-image {
    padding: 5px;
    height: 60%;
    width: 100%;
    padding-top: 35px;
    border-radius: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.food-image img {
    height: 100%;
    width: 50%;
    border-radius: 15px;
}

.food-title {
    color: black;
    font-weight: 800;
    font-size: 20px;
    padding-top: 5px;
    /* 영역 밖으로 나간 텍스트를 숨김*/
    overflow: hidden;
    /* 줄 바꿈 금지*/
    white-space: nowrap;
    /*텍스트 영역을 넘어가는 부분은 ...로 표시*/
    text-overflow: ellipsis;
}


.order {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    font-size: 17px;
    padding: 10px 15px 5px;
}

.price {
    font-style: italic;
    color: green;
    font-weight: 500;
}

.buy-btn {
    background: #EDBE45;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    font-size: 17px;
    font-weight: 600;
    padding: 5px 15px;
}

.buy-btn:hover {
    background: #BE2A1F;
    color: #fff;
}
